<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eCommanLib.Properties.Settings.surti_khanaConnectionString" connectionString="Data Source=(local);Initial Catalog=surti_khana;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="eCommanLib.Properties.Settings.Clientsurti_khanaConnectionString" connectionString="Data Source=|DataDirectory|\surti_khana.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
